{% extends "base.html" %}

{% block title %}Editar Filtro{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h3>Editar Filtro</h3>
                <form action="{% url 'filter_edit' filter_instance.id %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_unique_code" class="form-label">Código</label>
                        {{ form.unique_code }}
                    </div>
                    <div class="mb-3">
                        <label for="id_mass_initial_images">Imagens Iniciais</label>
                        <input type="file" name="mass_initial_images" id="id_mass_initial_images" multiple class="form-control">
                    </div>
                    <div class="row">
                        {% for image in mass_initial_images %}
                            <div class="col-md-3">
                                <img src="{{ image.url }}" class="img-thumbnail" alt="Imagem Inicial">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="id_mass_final_images">Imagens Finais</label>
                        <input type="file" name="mass_final_images" id="id_mass_final_images" multiple class="form-control">
                    </div>
                    <div class="row">
                        {% for image in mass_final_images %}
                            <div class="col-md-3">
                                <img src="{{ image.url }}" class="img-thumbnail" alt="Imagem Final">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        <label for="id_location" class="form-label">Localização</label>
                        {{ form.location }}
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content%}