<footer class="footer mt-auto py-2 bg-dark text-white">
  <div class="container">
    <div class="row">
        <div class="d-flex flex-column align-items-center">
            <span>&copy; {{ year }} QUIMITECH. Todos os direitos reservados.</span>
        
            <ul class="d-flex flex-row mb-3 navbar-nav">
                <li class="nav-item p-2"><a class="text-decoration-none"href="#">Termos de Uso</a></li>
                <li class="nav-item p-2">
                <a class="text-decoration-none" href="#">Política de Privacidade</a>
                </li>
                <li class="nav-item p-2">
                <a class="text-decoration-none" href="https://github.com/davisaldanha/quimitech" target="_blank">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</footer>
